@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  font-size: 10px;
}

 .navbar{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));

}


.reginp 
{
 
  @apply w-[85%] text-[1.7rem] flex items-center border-b-[1px] border-solid border-gray-400 pb-[0.5rem]
}
.reginpfile 
{
 
  @apply w-[85%] text-[1.7rem] flex items-center border-gray-400 font-['Inconsolata']
}
.errors {
  @apply w-[85%]
}

.reginput {
@apply outline-none placeholder:text-[#746e6e] text-black bg-transparent block w-[94%] ml-[0.8rem] font-['Inconsolata']
}


.links
{
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Mukta', sans-serif; */
  font-family: 'DynaPuff', cursive;
  @apply text-[1.6rem] text-[#EAE1E1] pl-[1.7rem]
}
.onlinks
{
  @apply text-[1.8rem]  font-['Inconsolata']
}

.bordd{
  border-radius: 20px 20px 20px 20px;
}

.onlinks:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));
}


.onclicklist {
  background: linear-gradient(0deg, rgba(75, 70, 70, 0.2), rgba(87, 80, 80, 0.2)),
  linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));
}

.main {

background-image:url('/background.jpg');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
box-sizing: border-box;
width:100%;
min-height:calc(100vh - 100px);

/* width: calc(100vw - 20px) */
}

.heig {
  min-height:calc(100vh - 330px)
}

.buttons {
margin-top:0px;
margin-left: 12px;
}

.check {
  background: linear-gradient(137.22deg, rgba(234, 79, 234, 0.93) 24.03%, rgba(36, 158, 173, 0.93) 80.82%);

}
.color {
  /* font-family: Inter; */
 font-weight:semibold;
  background-image: linear-gradient(137.22deg, rgba(234, 79, 234, 0.73) 24.03%, rgba(36, 158, 173, 0.93) 80.82%);
    background-clip: text;
    color:transparent;

}

.nft
{
  background-image: linear-gradient(137.22deg, rgba(234, 79, 234, 0.93) 24.03%, rgba(36, 158, 173, 0.93) 80.82%);
  background-clip: text;
  color:transparent;
}

/* for rounded gradient border */

.bord_grad {
    border: double 3px transparent;
    border-radius: 35px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(107, 216, 235, 0.93),rgba(238, 192, 198, 0.93));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }



.bord-bottom {
  border-bottom: 3px solid;
  border-image: linear-gradient(180deg, rgba(107, 216, 235, 0.93) 0%, rgba(238, 192, 198, 0.93) 100%) 1;

}

.input_bord_grad {
  border: double 2px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(107, 216, 235, 0.93),rgba(238, 192, 198, 0.93));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.pagination {
  list-style-type:none; 
  justify-content: center;
  display: flex;
  align-items: center;
  font-size:1.8rem;
  font-weight:500;
  margin-bottom:2.2rem;
   color:  #AAB2CF;
    max-width: 100%;
    overflow: hidden;
    margin-top:3rem;
   
}
.page_num {
  box-sizing: border-box;
  padding: 5px 17px;
  cursor: pointer;
  border-radius: 6px;
 @apply font-['Inconsolata']
  /* border: 1px solid #AAB2CF; */
}
.pagination .active {
  background: #487ECFC2;
 color: #fff;
 padding:9px 16px;
 display: block;
}
.colgrad {
  font-family: 'Inconsolata', monospace;
  /* font-weight: 600; */
  background-image: linear-gradient(180deg, #454C55 0%, rgba(102, 122, 174, 0.49) 100%);;
    background-clip: text;
    color:transparent;
}


.reg {
  background: linear-gradient(90deg, #A0AFD6 0.83%, #D0D9EE 99.31%);

}


.col_text {
  background: #7D7C7CCF;

  background: rgba(125, 124, 124, 0.81);


}

.text_color {
  background-image: linear-gradient(180deg, rgba(107, 216, 235, 0.93) 0%, rgba(238, 192, 198, 0.93) 100%);
  background-clip: text;
  color:transparent;
}

.work {
  background: linear-gradient(90deg, #727A8F 0.83%, #727A8F 99.31%);
  
}
.workhead {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.93) 0%, rgba(255, 255, 255, 0.93) 100%);

  background-clip: text;
  color:transparent;


}
.resheight{
  height:19rem;
}

.nftwdith {
  width: 100%;
}
.jt {
  justify-content: center;
}
.hid{
  display: none;
}

.insta {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  /* background-clip: text; */
  /* color: transparent; */
  border-radius: 6px;
  padding: 3px;
  
}

.buttonnft {
  background-image: linear-gradient(137.22deg, rgba(234, 79, 234, 0.93) 24.03%, rgba(36, 158, 173, 0.93) 80.82%);
  background-clip: text;
  color:transparent;
}
.buttonnft:hover {
  background-image: linear-gradient(137.22deg, rgba(234, 79, 234, 0.93) 24.03%, rgba(36, 158, 173, 0.93) 80.82%);
border-radius: 35px;
color:white;
background-clip: unset;
}
.log {
  @apply text-[2.8rem]
}

.footerdirection {
  flex-direction: column;
  @apply text-[2rem];
  
gap:3rem;
}

.formwid {
  margin-top:2rem;
  margin-bottom:2rem;
  width: 97%;
}
/* Media queries */

@media screen and (max-width: 330px) {
  .mg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
        
}

@media screen and (max-width: 350px) {
  .buttons {
    margin-top:5px;
    margin-left: 0px;
    }
    .mg {
      margin-left: 3rem;
      margin-right: 3rem;
    }     
}

@media screen and (min-width: 350px) {
    .mg {
      margin-left: 4rem;
      margin-right: 4rem;
    }     
}
@media screen and (min-width: 400px) {
  .resheight{
    height:23.5rem;
  }
  .nftwdith {
    width: 75%;
  }
  .jt {
    justify-content: center;
  } 

  .formwid {
    width:95%
  }
  
}

@media screen and (min-width: 500px) {
  .resheight{
    height:30rem;
  }
  .log {
    @apply text-[2.4rem];
  }
  .footerdirection {
    flex-direction: row;
    gap:0rem;
    @apply text-[1.7rem]
  } 

  .nftwdith {
    width: 60%;
  }
  .jt {
    justify-content: center;
  }
  .formwid {
    width:84%
  }
}

@media screen and (min-width: 580px) {
  .resheight{
    height:32rem;
  }
  .nftwdith {
    width: 55%;
  }
  .jt {
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  

  .nftwdith {
    width: 48%;
  }
  .jt {
    justify-content: space-between;
  }

  .formwid {
    width:75%
  }

  .reginp 
{
 
  @apply text-[1.8rem] w-[83%]
}

.reginpfile 
{
 
  @apply w-[83%] 
}
.errors {
  @apply w-[83%]
}
}

@media screen and (min-width: 700px) {
  

    .nftwdith {
      width: 42%;
    }
    .jt {
      justify-content: space-around;
    }
}


@media screen and (min-width: 800px) {
  .main {
    min-height:calc(100vh - 60px);
    }  

    .nftwdith {
      width: 34%;
    }
    .jt {
      justify-content: space-around;
    }

    .formwid {
      width:65%
    }
}

@media screen and (min-width: 960px) {
  .main {
    min-height:calc(100vh - 60px);
    }  

    .nftwdith {
      width: 29%;
    }
    .jt {
      justify-content: space-between;
    }
    .hid{
      display: block;
    }
}

@media screen and (min-width: 1082px) {
  .work {
    background: linear-gradient(90deg, #717888 0.83%, #D0D9EE 99.31%);
  
  }

  .bordd{
    border-radius: 10px 100px 100px 10px;
  }

  .nftwdith {
    width: 26.5%;
  }

  .formwid {
    width:48%;
      margin-top:0rem;
      margin-bottom:0rem;
  }
}


@media screen and (min-width: 1200px) {
  
  .nftwdith {
    width: 22%;
  }
  .hid{
    display: none;
  }
}


@media screen and (min-width: 1300px) {
  .nftwdith {
    width: 22%;
  }
  .formwid {
    width:47%
  }
}

@media screen and (min-width: 1400px) {
  
  html {
    font-size:11px
  }

  .main {
    min-height:calc(100vh - 72px);
    }
}

@media screen and (min-width: 1600px) {
  
  html {
    font-size:13px
  }
  .main {
    min-height:calc(100vh - 86px);
    }
    /* .nftwdith {
      width: 23.8%;
    } */
}

@media screen and (min-width: 1700px) {
  
    /* .nftwdith {
      width: 23.5%;
    } */
}

@media screen and (min-width: 1800px) {
  
  html {
    font-size:14px
  }
  /* .nftwdith {
    width: 23%;
  } */
}

@media screen and (min-width: 2000px) {
  
  html {
    font-size:15px
  }
}

@media screen and (min-width: 2100px) {
  
  /* .nftwdith {
    width: 22.5%;
  } */
}

@media screen and (min-width: 2200px) {
  
  html {
    font-size:16px
  }

}

@media screen and (min-width: 2400px) {
  
  html {
    font-size:17px
  }
}

@media screen and (min-width: 2600px) {
  
  html {
    font-size:21px
  }
}