@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  font-size: 10px;
}

 .navbar{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));
}


.links
{
  @apply text-[1.6rem] text-[#EAE1E1] pl-[1.3rem]
}
.onlinks
{
  @apply text-[1.7rem] text-[#EAE1E1] pl-[1.5rem]
}

.onlinks:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));
}


.onclicklist {
  background: linear-gradient(0deg, rgba(75, 70, 70, 0.2), rgba(87, 80, 80, 0.2)),
  linear-gradient(0deg, rgba(13, 19, 68, 0.9), rgba(13, 19, 68, 0.9));
}

@media screen and (min-width: 800px) {
  
}
@media screen and (min-width: 1400px) {
  
  html {
    font-size:12px
  }
}


@media screen and (min-width: 1600px) {
  
  html {
    font-size:13px
  }
}

@media screen and (min-width: 1800px) {
  
  html {
    font-size:14px
  }
}